extends ../layout

block content
  div(class='row align-items-center justify-content-sm-center h-100')
    div(class='col-12 col-sm-10 col-md-9 col-lg-8')
      div(class='card')
        h5(class='card-header') Registro
        div(class='card-body')
          form(action='registrar')

            div(class="row")

              div(class='col-12 col-md-6')
                div(class='form-group')
                  label(for='tipoident') Tipo de identificación
                  select(id='tipoident' name='tipoident' class='form-control')
                    option(value='CC') CEDULA DE CIUDADANIA
                    option(value='TI') TARJETA DE IDENTIDAD
                    option(value='RC') RC
                    option(value='CE') CE
                    option(value='PA') PASAPORTE
                    
              div(class='col-12 col-md-6')
                div(class='form-group')
                  label(for='numident') Numero de identificación
                  input(type='text' id='numident' name='numident' class='form-control')
            
            div(class="row")

              div(class='col-12 col-md-8')
                div(class='form-group')
                  label(for='nombre') Nombre
                  input(type='text' id='nombre' name='nombre' class='form-control')
          
              div(class='col-12 col-md-4')
                div(class='form-group')
                  label(for='fechanac') Fecha de nacimiento
                  input(type='date' id='fechanac' name='fechanac' class='form-control')

            div(class="row")    

              div(class='col-12 col-md-4')
                div(class='form-group')
                  label(for='genero') Genero
                  select(id='genero' name='genero' class='form-control')
                    option(value='M') MASCULINO
                    option(value='F') FEMENINO
            
              div(class='col-12 col-md-8')
                div(class='form-group')
                  label(for='email') Email
                  input(type='email' id='email' name='email' class='form-control')

            div(class="row")

              div(class='col-12 col-md-6')
                div(class='form-group')
                  label(for='usern') Nombre de usuario
                  input(type='text' id='usern' name='usern' class='form-control')   
            
              div(class='col-12 col-md-6')
                div(class='form-group')
                  label(for='psswd') Contraseña
                  input(type='password' id='psswd' name='psswd' class='form-control')

            div(class="row")

              div(class='col-12 text-right')
                button(type="submit" class="btn btn-primary" id="registrar") Registrar
              
block scripts
  script(src='/scripts/usuarios/registro.js')